{% extends "templates/layout.html" %}



{% block title %}My Demo Page{% endblock %}



{% block head %}
<script type="module" src="./components/base-component.js"></script>
{% endblock %}



{% block content %}
<h1>This is the index page</h1>
<base-component></base-component>
{% endblock %}